.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary);
}
.light {
  background-color: var(--on-primary);
}

.lightModeButton {
  fill: wheat;
  font-size: 0.5rem;
}
.darkModeButton {
  font-size: 0.5rem;
  fill: var(--on-primary);
}
