.themeContainer {
  width: 100%;
  heght: 100%;
  display: flex;
  aling-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}

.lightModeButton {
  fill: var(--on-primary);
  font-size: 2.5rem;
}
.darkModeButton {
  font-size: 2.5rem;
  fill: var(--on-primary);
}
